/*UTILITIES AND GLOBAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-group {
    margin: 0;
}

body {
    height: 100vh;
}

.green-background {
    background: rgb(50, 191, 172)
}

.red-background {
    background: rgb(240, 51, 68)
}

.gray-background {
    background: rgb(246, 245, 247);
}

.green-text {
    color: rgb(50, 191, 172)
}

.red-text {
    color: rgb(240, 51, 68)
}

.white-text {
    color: white;
}

/*TOP SECTION*/

.top {
    padding-top: 80px;
    background: url('background.jpeg');
    display: grid;
    justify-items: center;
    align-content: end;
}

.top-wrapper {
    height: 200px;
    width: 30%;
    display: grid;
    grid-gap: 2px;
    margin-bottom: 2rem;
}

#budget {
    font-size: 3rem;
}

.top-wrapper span {
    justify-self: center;
}

#income-budget,
#expenses-budget {
    float: right;
    color: white;
}


/*MID SECTION*/

.mid {
    height: 8%;
    background: rgb(246, 245, 247);
    display: grid;
    justify-items: center;
}

.mid-wrapper {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 1fr;
    grid-column-gap: 5px;
    align-items: center;
}

/*BOTTOM SECTION*/

.bottom {
    margin-top: 50px;
    display: grid;
    justify-items: center;
}

.bottom-wrapper {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.income-item {
    border-top: 3px solid rgb(247, 246, 247);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 7fr auto 40px;
    align-items: center;
    padding-left: 20px;
}

.expense-item {
    border-top: 3px solid rgb(247, 246, 247);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 7fr auto 40px;
    align-items: center;
    padding-left: 20px;
}

/*RESPONSIVE PARTS*/
@media only screen and (max-width: 1100px) {
    .top-wrapper {
        width: 45%;
    }
}

@media only screen and (max-width: 710px) {
    .top-wrapper {
        width: 60%;
    }

    .mid {
        height: 10%;
    }

    .mid-wrapper {
        width: 70%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "one two"
            "three four";
    }

    #picker {
        grid-area: three
    }

    #description {
        grid-area: one
    }

    #value-money {
        grid-area: two
    }

    #submit-money {
        grid-area: four
    }
    
    .bottom-wrapper{
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .bottom-wrapper {
        width: 100%;
        
    }

    h5 {
        text-align: center;
    }

}

@media only screen and (max-width: 420px) {
     .bottom-wrapper {
        grid-template-columns: 1fr;
        
    }

}
