body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}

i {
    margin: 25px 0px 10px 0px;
}

/*LANDING PAGE*/

.landing {
    position: relative;
    height: 93vh;
    background-image: url(img/background.jpg);
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.landing::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

/*NAV*/

.nav {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        '. netflix btn';
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.logo {
    grid-area: netflix;
    height: 50px;
    margin-top: 15px;
}

.sign-in {
    grid-area: btn;
    color: white;
    background-color: rgb(206, 1, 31);
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-weight: 100;
}

/*HERO*/

.showcase {
    height: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    ;
    grid-template-areas:
        "title1"
        "title2"
        "button";

    color: white;
    justify-content: center;
    padding-bottom: 150px;
    z-index: 2;
}

.title1 {
    grid-area: title1;
    font-weight: bold;
    font-size: 60px;
    align-self: flex-end;
    justify-self: center;
}

.title2 {
    grid-area: title2;
    font-weight: 400;
    align-self: center;
}

.showcase button {
    background-color: rgb(206, 1, 31);
    grid-area: button;
    align-self: flex-start;
    height: 80px;
    color: white;
    font-size: 24px;
    border: none;
}

/*MID-TABS*/

.mid-bar {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". first second third .";
    text-align: center;
    align-content: center;

    color: rgb(162, 162, 162);
    background: rgb(20,20,20)
}

.first-tab {
    grid-area: first;
}

.second-tab {
    grid-area: second;
}

.third-tab {
    grid-area: third;
}
