*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Trebuchet MS;
    text-align: center;
    background: #b09e99;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.block {
    background: rgba(255, 255, 255, 0.5);   
    width: 400px;
    height: 300px;
}

.wrapper{
    width: 85%;
    height: 90%;
    margin: 20px auto 20px auto;

    display: grid;
    grid-template-rows: 2fr 8fr 2fr;
    justify-items: center;

}

button{
    color: white !important;
    background: #64b6ac !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    min-height: 45px;
}

button:hover{
    background: white !important;
    color: #64b6ac !important;
}

#author{
    justify-self:end;
    margin-right: 15px;
    font-size: 0.8em;
    color:#64b6ac;
}

