*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Trebuchet MS;
    height: 100vh;
    width: 100%;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
    grid-column-gap: 20px;
}

.key h1{
    font-size: 2em;
    color: white;
}

.key p {
    font-size: 1em;
    color: #ffc600;
    text-transform: uppercase
}

.key{
    border: .4rem solid black;
    border-radius: .5rem;
    transition: all .07s ease;
    border: .4rem solid black;
    border-radius: .5rem;
    width: 6em;
    text-align: center;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}